/****************styles for coverflow slider*****************/
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/**************************treeCheckbox articles styles***************************/

.MuiAccordion-root:before {
    background-color: unset !important;
}

.MuiAccordionSummary-expandIcon {
    display: flex;
    order: -1;
}

.MuiIconButton-root {
    padding-left: 12px !important;
}

.MuiAccordionDetails-root .MuiFormControl-root{
    margin-right: 50px;
}

.MuiAccordionDetails-root {
    flex-direction: column;
}

.MuiAccordionSummary-content {
    margin: unset !important;
}

/* استایل ها نباید به این صورت تعریف شود چون روی باقی استایل ها تاثیر می گذارد
این مورد خیلی دقت شود */
.MuiAccordionSummary-expandIcon .MuiSvgIcon-root {
    color: #2fc98e

}

.MuiAccordionSummary-root.Mui-expanded {
    min-height: 48px !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #00bfd6 !important
}

 .MuiTreeItem-content, .MuiFormControlLabel-root {
    height: 35px;
}

.MuiButtonBase-root:hover, .MuiTypography-body1:hover,
.MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label,
.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label{
    background-color: unset !important;
}

.treeLevel .MuiTypography-body1 {
    font-size: 14px !important;
}

.MuiTreeItem-label {
    padding-right: unset !important;
}

.MuiDivider-root {
    width: 100%;
    margin: 20px 0 !important;
}


/*******************************pagination articles******************************/

* {
    list-style: none;
    text-decoration: none;
}

.article {
    display: flex;
    justify-content: center;
    width: 100%;
}

.paginateArticle {
    display: flex;

}

.paginateArticle li {
    width: 20px;
    height: 20px;
    border: solid 1px #e6e6e6;
    margin: 1px 8px 2px 7px;
    padding: 5px 5px 5px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.paginateArticle li:last-child {
    border: unset;
    width: unset;
    height: unset;
    padding: unset;
}

.JDatePicker .day-items, .JDatePicker .JC-Title {
    font-size: 14px;
}



/****************************draft*************************/

.rdw-editor-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.rdw-text-align-wrapper, .rdw-list-wrapper,
.rdw-fontfamily-wrapper, .rdw-fontsize-wrapper,
.rdw-colorpicker-wrapper, .rdw-link-wrapper,
.rdw-embedded-wrapper, .rdw-emoji-wrapper,
.rdw-remove-wrapper, .rdw-history-wrapper,
.rdw-inline-wrapper .rdw-option-wrapper:nth-child(4),
 .rdw-option-wrapper:nth-child(6),
.rdw-option-wrapper:nth-child(7), .rdw-block-wrapper,
.rdw-editor-toolbar{
    display: none !important;
    border: none;
}

.rdw-editor-toolbar, .rdw-inline-wrapper,
.rdw-option-wrapper:nth-child(1),
.rdw-option-wrapper:nth-child(2),
.rdw-option-wrapper:nth-child(3),
.rdw-option-wrapper:nth-child(5),
.rdw-image-wrapper .rdw-option-wrapper{
    background-color: #dcdcdc !important;
    border: none;
    margin: unset !important;
}

.rdw-editor-toolbar {
    flex-direction: row-reverse;
    margin: unset !important;
    padding: unset !important;
}

.rdw-editor-main {
    background-color: #fff;
    height: 100px!important;
    border: solid 1px #dcdcdc;
}

.rdw-image-wrapper {
    margin: unset !important;
}

.DraftEditor-editorContainer {
    font-size: 14px;
}

.MuiDrawer-paperAnchorLeft {
    width: 100%;
}


/********************************* Calender *****************************/

.date-input-with-dialog-calendar {
    top: calc(50% - 0.9em) !important;
    left: 2.5em !important;
}

.date-input-with-dialog-empty {
    top: calc(50% - 0.9em) !important;
    left: .3em !important;
}

.date-input-with-dialog-input {
    height: 29px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-right: 4px;
    font-family: "Yekan" !important;
}

.date-input-with-dialog-input-buttons {
    width: 20px !important;
    height: 20px !important;
    max-height: unset !important;
    padding: unset !important;
    border: none !important;
}

.date-input-with-dialog-input-buttons:hover {
    border: none !important;
}

.date-input-with-dialog-main {
    height: unset !important;
}

@media screen and (max-width: 959px){
    .JDatePicker {
        z-index: 9999!important;
    }
}


/*********************************other styles******************************/


.description .image {
    width: 100%;
    margin: 0;
}

.description img {
    width: 100%;
}

.description li img {
    width: unset;
}

.MuiButton-root-414 {
    padding: 0 !important;
}

.comment button {
    padding: 0 !important;
}




/**************************************mobile size***********************************/
.MuiDialog-paper {
    margin: 60px 0 0 !important;
    width: 250px;
    max-height: unset !important;
    padding: 16px 16px 0 16px;
}

.MuiDialog-paper .MuiFormControl-root {
    width: 100% !important;
}

.MuiDivider-inset {
    margin-right: 0 !important;
}

.MuiRadio-colorSecondary.Mui-checked {
    color: #fe243d !important;
}

.MuiDrawer-paper::-webkit-scrollbar {
    width: 5px !important;
}

.newsNew {
    height: 20px;
    margin: 37px 13px 24px 44px;
    padding: 4px 21px 5px 17px;
    border-radius: 10px;
    background-color: #646464;
    color: #fff;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
}

.coverflowParent {
    width: 100%;
    height: 400px;
    margin: 20px auto;
}

.slide img {
    width: 20rem;
    margin: 0 auto;
}

.slide {
    transform: scale(0.8);
    transition: 300ms;
    opacity: .5;
}

.activeSlide {
    transform: scale(1.1);
    opacity: 1;
}

.arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    background-color: #fff;
}

.arrow.next {
    top: 50%;
    right: 0;
}

.arrow.prev {
    top: 50%;
    left: 0;
}

.cover {
    width: 152px;
    height: 244px;
    margin: 18px 69px 63px 32px;
    padding: 7px 7px 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    background-color: #ffffff;
}

.underCover {
    width: 138px;
    height: 232px;
    padding: 0 0 12px;
    border-radius: 10px;
    border: solid 1px #cccccc;
}

.boxTop {
    width: 138px;
    height: 83px;
    margin: 0 0 36px;
    padding: 6px 34px 40px 33px;
    border-radius: 10px;
    border: solid 2px #c59428;
    position: relative;
}

.rect {
    width: 63px;
    height: 62px;
    margin: 0 3px 4px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    border: 2px solid #c59428;
    clip-path: Polygon(0% 0%,100% 0%,100% 50% ,0% 50%);
}

.redRect {
    width: 58px;
    height: 58px;
    margin: 0 5px 4px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 53px;
}

.slick-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-slider {
    height: 100%;
}
